.app[data-page='home']{
  padding-bottom:calc(150px + env(safe-area-inset-bottom));
}

.app[data-page='home'] .footer-action{
  bottom:calc(62px + env(safe-area-inset-bottom));
  padding:8px 16px 10px;
  z-index:35;
}
